# Action Test
#
# References:
#
# - https://docs.github.com/actions/using-workflows/events-that-trigger-workflows#pull_request
# - https://docs.github.com/actions/using-workflows/events-that-trigger-workflows#push
# - https://docs.github.com/actions/using-workflows/events-that-trigger-workflows#workflow_dispatch
# - https://docs.github.com/webhooks-and-events/webhooks/webhook-events-and-payloads#pull_request
# - https://docs.github.com/webhooks-and-events/webhooks/webhook-events-and-payloads#push
# - https://docs.github.com/webhooks-and-events/webhooks/webhook-events-and-payloads#workflow_dispatch
# - https://github.com/actions/checkout
# - https://github.com/hmarr/debug-action

---
name: test
on:
  pull_request:
  push:
    paths:
      - .github/workflows/test.yml
      - action.yml
  workflow_dispatch:
concurrency:
  cancel-in-progress: true
  group: ${{ github.workflow }}-${{ github.ref }}
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - id: debug
        name: Print environment variables and event payload
        uses: hmarr/debug-action@v3.0.0
      - id: checkout
        name: Checkout ${{ github.head_ref || github.ref_name }}
        uses: actions/checkout@v5.0.1
        with:
          persist-credentials: false
          ref: ${{ github.head_ref || github.ref }}
      - id: version
        name: Extract version metadata
        uses: flex-development/manver-action@1.1.0
      - id: tag-prefix
        name: Get release tag prefix
        uses: flex-development/jq-action@1.0.0
        with:
          data: grease.config.json
          filter: .tagprefix
      - id: test1
        name: Test 1
        uses: ./
        with:
          tag-prefix: ${{ steps.tag-prefix.outputs.result }}
          version: ${{ steps.version.outputs.manifest }}
      - id: test2
        name: Test 2
        uses: ./
        with:
          repo: jq-action
          version: 1.0.0
      - id: test3
        name: Test 3
        uses: ./
        with:
          owner: unicornware
          repo: pizza-delivery
          tag-prefix: pizza-delivery@
          version: 1.0.0
      - id: test4
        name: Test 4
        uses: ./
        with:
          repo: grease
          server: https://github.fldve.com
          tag-prefix: grease@
          version: 3.0.0-alpha.9
      - id: test5
        name: Test 5
        uses: ./
        with:
          artifact: ${{ format('@{0}-{1}-{2}.tgz', github.repository_owner, 'log', '5.0.0') }}
          repo: log
          version: 5.0.0
      - id: outputs
        name: Outputs
        run: |
          echo outputs

          echo test1
          echo steps.test1.outputs.artifact: ${{ steps.test1.outputs.artifact }}
          echo steps.test1.outputs.tag: ${{ steps.test1.outputs.tag }}
          echo steps.test1.outputs.url: ${{ steps.test1.outputs.url }}

          echo test2
          echo steps.test2.outputs.artifact: ${{ steps.test2.outputs.artifact }}
          echo steps.test2.outputs.tag: ${{ steps.test2.outputs.tag }}
          echo steps.test2.outputs.url: ${{ steps.test2.outputs.url }}

          echo test3
          echo steps.test3.outputs.artifact: ${{ steps.test3.outputs.artifact }}
          echo steps.test3.outputs.tag: ${{ steps.test3.outputs.tag }}
          echo steps.test3.outputs.url: ${{ steps.test3.outputs.url }}

          echo test4
          echo steps.test4.outputs.artifact: ${{ steps.test4.outputs.artifact }}
          echo steps.test4.outputs.tag: ${{ steps.test4.outputs.tag }}
          echo steps.test4.outputs.url: ${{ steps.test4.outputs.url }}

          echo test5
          echo steps.test5.outputs.artifact: ${{ steps.test5.outputs.artifact }}
          echo steps.test5.outputs.tag: ${{ steps.test5.outputs.tag }}
          echo steps.test5.outputs.url: ${{ steps.test5.outputs.url }}
